# Zillow Observed Rent Index (ZORI)
https://www.zillow.com/research/data/

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

## ZORI explained: https://www.zillow.com/research/methodology-zori-repeat-rent-27092/

In [2]:
city_df = pd.read_csv('City_zori_uc_sfrcondomfr_sm_month.csv')
city_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2015-01-31,2015-02-28,...,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2529.406862,2544.556648,...,3277.319863,3311.160595,3355.006722,3399.453078,3430.195409,3440.119638,3436.738886,3413.592891,3377.001136,3346.635819
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,1853.062009,1867.610681,...,2786.653877,2799.936899,2801.690532,2805.991950,2809.980177,2817.071468,2817.946942,2811.530586,2794.921896,2779.735749
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,1216.258914,1219.708685,...,1572.604195,1578.097219,1586.075960,1595.691882,1602.863841,1601.517753,1598.902468,1594.526706,1593.098728,1593.729932
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,1482.794295,1492.141397,...,1934.582719,1952.217806,1978.181068,2000.866861,2012.962685,2016.528784,2006.086161,1990.282877,1974.745331,1975.708613
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,965.416689,969.151761,...,1402.730872,1404.830219,1408.679648,1406.975573,1407.460001,1407.243891,1404.011398,1395.690239,1388.292893,1383.649370

In [3]:
metro_df = pd.read_csv('Metro_zori_uc_sfrcondomfr_sm_month.csv')
metro_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,...,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31
0,102001,0,United States,country,NaN,1228.784000,1235.398148,1244.250266,1254.031553,1263.701003,...,1913.956669,1925.722531,1938.436985,1949.104671,1958.921667,1965.026120,1967.696149,1965.445809,1960.639200,1957.392338
1,394913,1,"New York, NY",msa,NY,2286.942293,2302.441587,2319.715402,2341.394932,2356.920054,...,3048.279317,3083.461047,3122.358850,3158.258686,3181.961464,3190.587265,3189.132743,3173.037996,3150.806602,3132.049652
2,753899,2,"Los Angeles, CA",msa,CA,1822.376921,1834.225694,1849.513160,1863.634189,1877.945479,...,2822.067602,2837.442789,2844.700862,2855.432098,2868.402216,2880.681567,2884.888133,2881.923174,2868.529586,2858.240835
3,394463,3,"Chicago, IL",msa,IL,1385.601820,1392.861993,1403.350024,1412.784123,1423.690042,...,1853.085095,1869.257387,1891.523391,1911.393405,1923.784328,1930.812987,1928.529028,1921.225502,1913.675928,1916.033603
4,394514,4,"Dallas, TX",msa,TX,1114.978459,1119.825663,1127.669715,1138.626074,1148.650766,...,1764.604262,1769.302745,1776.777795,1784.825318,1793.402761,1795.131755,1791.183665,1783.781237,1777.050882,1768.792067

In [4]:
zip_df = pd.read_csv('Zip_zori_uc_sfrcondomfr_sm_month.csv')
zip_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,1498.067627,...,1907.901834,1881.314050,1889.710273,1896.236122,1908.477009,1914.644524,1917.585619,1912.945631,1893.657670,1884.720629
1,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,1290.517270,...,1802.117493,1805.319508,1809.839779,1821.434627,1830.256460,1842.868613,1845.389752,1831.384137,1821.027073,1822.782122
2,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,NaN,...,1844.149151,1857.006307,1875.513629,1880.537123,1876.899966,1881.082285,1877.787889,1906.140766,1894.876485,1901.791063
3,93144,6,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,NaN,...,1422.830222,1412.049962,1417.900245,1421.589198,1445.320002,1442.986026,1449.583812,1454.557440,1459.307173,1473.643939
4,62093,7,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,...,2815.933832,2841.971416,2887.086805,2928.316984,2954.890393,2981.910354,2998.924787,2987.783932,2961.286582,2932.436465

In [7]:
zip_df[zip_df['City']=='New York']

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31
4,62093,7,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,...,2815.933832,2841.971416,2887.086805,2928.316984,2954.890393,2981.910354,2998.924787,2987.783932,2961.286582,2932.436465
6,62019,9,11208,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,NaN,...,2489.199193,2532.036072,2572.125329,2703.933491,2666.636776,2637.314688,2627.505055,2645.174715,2743.401978,2738.611111
13,62046,16,11236,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,NaN,...,NaN,NaN,NaN,NaN,NaN,2272.029678,2341.483614,2360.406495,2384.698517,2402.777778
14,61807,17,10467,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Bronx County,NaN,...,1748.493166,1697.486828,1751.340599,1830.527810,1890.407049,1906.514919,1966.860138,1997.915296,2076.695909,2025.975000
15,62085,18,11373,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,...,2555.658417,2560.895155,2541.083056,2572.701694,2559.603655,2619.361982,2600.364881,2629.724414,2628.782984,2634.716667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6023,61771,10844,10280,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,NaN,...,4292.676994,4425.139999,4503.237367,4534.003646,4604.224912,4613.314950,4657.947934,4576.930488,4562.193806,4424.957265
6108,61773,12178,10282,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,NaN,...,7408.119864,7467.217719,7407.331467,7527.347589,7563.940250,7392.350511,7289.366877,7155.271012,7286.600810,7181.933333
6116,62010,12258,11109,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,...,4371.151036,4464.207854,4515.370305,4532.557490,4624.251817,4674.191823,4716.007376,4637.891410,4549.870518,4467.746753
6179,61620,14713,10006,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,NaN,...,3919.412623,4025.034539,4136.712910,4157.309837,4148.796188,4129.102074,4152.244928,4184.502931,4191.180685,4100.037037
6240,61618,30490,10004,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,NaN,...,4930.587046,5115.421314,5142.386670,5201.472103,5165.409957,5259.677877,5264.470039,5322.686348,5207.091313,4972.291667

In [9]:
zip_df.sort_values('SizeRank', ascending=True)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,1498.067627,...,1907.901834,1881.314050,1889.710273,1896.236122,1908.477009,1914.644524,1917.585619,1912.945631,1893.657670,1884.720629
1,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,1290.517270,...,1802.117493,1805.319508,1809.839779,1821.434627,1830.256460,1842.868613,1845.389752,1831.384137,1821.027073,1822.782122
2,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,NaN,...,1844.149151,1857.006307,1875.513629,1880.537123,1876.899966,1881.082285,1877.787889,1906.140766,1894.876485,1901.791063
3,93144,6,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,NaN,...,1422.830222,1412.049962,1417.900245,1421.589198,1445.320002,1442.986026,1449.583812,1454.557440,1459.307173,1473.643939
4,62093,7,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,...,2815.933832,2841.971416,2887.086805,2928.316984,2954.890393,2981.910354,2998.924787,2987.783932,2961.286582,2932.436465
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6237,72017,30490,32461,zip,FL,FL,Panama City Beach,"Crestview-Fort Walton Beach-Destin, FL",Walton County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3377.500000
6238,58956,30490,2876,zip,RI,RI,North Smithfield,"Providence-Warwick, RI-MA",Providence County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2294.042802,2233.333333
6239,91179,30490,76005,zip,TX,TX,Arlington,"Dallas-Fort Worth-Arlington, TX",Tarrant County,NaN,...,1968.894812,2065.454238,2079.714043,2117.915080,2093.434729,2092.953072,2032.127375,1980.655067,1919.732635,1922.238095
6240,61618,30490,10004,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,NaN,...,4930.587046,5115.421314,5142.386670,5201.472103,5165.409957,5259.677877,5264.470039,5322.686348,5207.091313,4972.291667
6241,97071,30490,92878,zip,CA,CA,Corona,"Riverside-San Bernardino-Ontario, CA",Riverside County,NaN,...,NaN,NaN,NaN,NaN,NaN,2802.177970,2781.450247,2674.877383,2714.004659,2730.833333

In [14]:
zip_df[zip_df['State']=='MA']

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31
290,58660,314,2148,zip,MA,MA,Malden,"Boston-Cambridge-Newton, MA-NH",Middlesex County,NaN,...,2379.071397,2434.215335,2488.639584,2503.264951,2523.533302,2547.103385,2553.021613,2573.537538,2564.300664,2571.762464
395,58666,429,2155,zip,MA,MA,Medford,"Boston-Cambridge-Newton, MA-NH",Middlesex County,NaN,...,3101.230555,3181.640046,3183.961492,3187.967587,3194.625004,3209.601248,3270.398903,3238.802211,3209.691278,3174.826862
431,58663,467,2151,zip,MA,MA,Revere,"Boston-Cambridge-Newton, MA-NH",Suffolk County,NaN,...,2495.565558,2522.588717,2518.216419,2547.302296,2560.118922,2571.313806,2568.677246,2569.165331,2560.170159,2555.697421
509,58669,547,2169,zip,MA,MA,Quincy,"Boston-Cambridge-Newton, MA-NH",Norfolk County,NaN,...,2342.661053,2356.416811,2359.999427,2382.992692,2422.830071,2433.522875,2439.077680,2406.912912,2425.813888,2418.882496
542,58638,581,2124,zip,MA,MA,Boston,"Boston-Cambridge-Newton, MA-NH",Suffolk County,NaN,...,2717.313244,2689.906028,2702.485336,2671.588929,2730.395537,2745.928717,2783.005430,2822.701161,2715.733579,2651.055556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6162,58623,14047,2109,zip,MA,MA,Boston,"Boston-Cambridge-Newton, MA-NH",Suffolk County,NaN,...,3786.554916,3757.977458,3786.564258,3894.989457,3936.770658,3968.038581,3953.597491,3836.032838,3719.268193,3719.533333
6168,58622,14268,2108,zip,MA,MA,Boston,"Boston-Cambridge-Newton, MA-NH",Suffolk County,2436.004997,...,3416.863237,3434.373676,3433.099390,3384.551819,3436.370414,3451.244737,3502.781930,3540.798877,3406.257275,3379.166667
6171,58592,14487,2045,zip,MA,MA,Hull,"Boston-Cambridge-Newton, MA-NH",Plymouth County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2451.696795,2582.750000
6177,58538,14673,1901,zip,MA,MA,Lynn,"Boston-Cambridge-Newton, MA-NH",Essex County,NaN,...,2384.828664,2391.624187,2405.184164,2415.238112,2425.244875,2423.070411,2407.184510,2384.664508,2378.161250,2393.535714
6191,58387,15643,1503,zip,MA,MA,Berlin,"Worcester, MA-CT",Worcester County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2686.250000

In [13]:
zip_df[zip_df['RegionName']==2445]

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31
4497,58757,5612,2445,zip,MA,MA,Brookline,"Boston-Cambridge-Newton, MA-NH",Norfolk County,2939.081818,...,4164.066332,4194.371891,4195.881994,4213.708814,4225.876049,4195.620908,4136.271284,4192.977152,4213.471323,4291.222222